@model List<string>
@{
    ViewData["Title"] = "PetShop";
}
<div class="h-100 p-3 text-white bg-dark rounded-3">
    <h2>PetShop寵物店</h2>
</div>
開發人員@TempData["Developer"]
<br >
<ul>
    @foreach(var pet in Model)
    {
        <li>@pet</li>
    }
</ul>

<h1>PetShop</h1>

