.sectionNav{
    max-width: 1200px;
    width: 100%;
    margin: auto;

}

.main-title{
    /* max-width: 1200px; */
    width: 100%;
    text-align: center;
    /* margin: auto; */
    padding: 4rem 2rem;
    background-color: rgb(244 244 245);
}

.for{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.for-title{
    width: 100%;
    margin-bottom: 4rem;
    
}
.for-container{
    width: 50%;
    margin: auto;
    background-color: rgb(244 244 245);

}




.about-ite{
    margin: auto;
}

.about-txt li{
    margin-bottom: 1.5rem;
}
.about-txt li h4{
  
}





@media (min-width: 1024px){
.main-title{
    padding: 8rem;
    }
.for{
    display: flex;
}

.for-title{
    margin-top: 4rem;
}
.about{
    display: flex;
 }
 
}