@model Employee

@{
    ViewData["Title"] = "StronglyTypedView";
}

<div class="h-100 p-3 text-white bg-dark rounded-3">
    <h2>StronglyTypedView</h2>
</div>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Phone</li>
    <li>@Model.Email</li>
</ul>
