/* body{
    max-width: 1200px;
    width: 100%;
} */
.nav-bar{
    /* max-width: 1200px; */
    width: 100%;
    background-color: rgb(247, 246, 242);
    padding: 30px 0px 30px 180px;
 
}
.nav-menu{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    padding: 0px 20px  ;
    padding-top: 9px;
    padding-bottom: 9px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #333
    
 
}
.right-join{
    position: fixed;
    left: auto;
    top: auto;
    right: 10%;
    bottom: auto;
    margin-top: 0px;
    padding: 10px 30px;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}
.main-pic{
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(./pic/639c59d36f16e20352df7615_img02.png);
    background-position: 0% 50%;
    background-size: cover;
}
.container-plan{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.container-item{
    display: flex;
}
.item-aboutOne{
    width: 60%;
}
.item-aboutTwo{
    width: 40%;
}

.area-item{
    /* max-width: 1200px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-area>img{
    width: 10%;
}
@media screen and (min-width:768px) { 
    /*nav漢堡*/
    }