/*nav的漢堡和計畫說明的RWD卡住*/
/* body{
    max-width: 1200px;
    width: 100%;
} */
.nav-bar{
    /* max-width: 1200px; */
    width: 100%;
    background-color: rgb(247, 246, 242);
    padding: 30px 0px 10px 180px;
 
}
.nav-menu{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    padding: 0px 20px  ;
    padding-top: 9px;
    padding-bottom: 9px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #333
    
 
}
.right-join{
    /* left: auto; */
    /* top: auto; */
    /* right: 10%; */
    padding: 10px 30px;
    border: 2px solid #000;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}
.main-pic{
   position: relative;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 400px;
    padding-bottom: 300px;
    background-image: url(./pic/639c59d36f16e20352df7615_img02.png);
    background-position: 0% 50%;
    background-size: cover;
}
.pic-contain{
    position: absolute;
}
.titlepic-txt{
    margin-top: -170px;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 68px;
    margin-left: 210px;
    font-weight: bolder;
}

.pic-txt img{
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 0.8;
    margin-left: 200px;
    width: 50%;
}
.titlepic-btn{
    margin-left: 200px;
}
.titlepic-btn a{
    margin-top: 30px;
    padding: 20px 60px;
    border: 2px solid #000;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}

.container-item{
    /* display: flex; */
    padding-left: 30px;
    padding-top: 80px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.container-item h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: bolder;
}
.container-item p{
    color: #1e293b;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
}
.container-item img{
width: 60%;
}

.item-aboutOne,
.item-aboutThree,
.item-aboutFive {
    width: 60%;
}

.item-aboutTwo,
.item-aboutFour,
.item-aboutSix {
    width: 40%;
}
.item-aboutOne,
.item-aboutFive{
    margin-right: 100px;
}
.item-aboutThree{
    margin-right: -100px;
    margin-left: 40px;
}
.item-aboutTwo,
.item-aboutSix{
    margin-top: 50px;
}
.item-aboutFour{
    margin-left: -50px;
}
.title-area{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    /* margin: auto; */
    padding: 60px 30px;
    margin-top: 150px;
}
.area-contain h2{
    text-align: center;
    font-weight: bolder;
}


.area-item{
    /* max-width: 1200px; */
    width: 100%;
    display: flex;
   
  
    /* padding: 50px; */
    margin: auto;
}
.item-area{
    /* justify-content: center; */
    display: block;
    margin: auto;
    /* justify-content: space-around; */
    text-align: center;
    padding-bottom: 70px;
    width: 100%;
}

.item-area>img{
    width: 25%;
}
.area-txt{
    /* font-weight: bolder; */
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.local-btn{
    display: flex;
    width: 50%;
    text-align: center ;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 50px;
}
.local-btn img{
    width: 100%;

}



.img-one{
    background-color: #000;
}
.img-two{
    background-color: #f8f8f8;
}
.faq{
  background-color:  #f8f8f8;
  width: 100%;
}
.faq-title{
    text-align: center;
    padding: 70px 0px;
    font-weight: bolder;
    font-size: 32px;
}
.faq-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.other-answer{
    text-align: center;
    font-size: 22px;
    padding: 20px 0px 70px 0px;
}
.footer{
    width: 100%;
}
.footer-container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;

    
}
.footer-container img{
    width: 20%;
}
.footer-icon img{
    width: 15%;
}
.footer-icon a{
    padding-right: 10px;
}
.footer-about{
    text-align: center;
    padding-bottom: 30px;
}
@media screen and (min-width:768px) { 
    /*nav漢堡*/
    }

@media screen and (min-width:1024px){
    .container-item{
        display: flex;
    }
    .item-aboutOne{

    }
}