@model IEnumerable<Card>

@{
    ViewData["Title"] = "CardListDB";
}

<div class="h-100 p-3 bg-info rounded-3">
    <h2>人物牌卡(從資料庫讀取Card卡片人物資料)</h2>
</div>

<div class="row">
    @foreach (var man in Model)
    {
        @await Html.PartialAsync("_CardPartial", man)
        //<partial name="_CardPartial" model="man" />
        //await Html.RenderPartialAsync("_CardPartial", man);
    }

</div>

@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}
