@model IEnumerable<Card>

@{
    ViewData["Title"] = "PassModel2PartialView";
}

    <div class="h-100 p-3 bg-info rounded-3">
        <h1>View傳遞model物件到Partial View之語法</h1>
    </div>

<div class="alert bg-success">非同步方式(建議)</div>
<h2><span class="badge bg-info">Partial Tag Helpers</span></h2>

<h3><span class="badge bg-success">model屬性</span></h3>
<div class="row">
    <partial name="_CardListPartial" model="@Model" />
</div>

<h3><span class="badge bg-success">for屬性</span></h3>
<div class="row">
    <partial name="_CardListPartial" for="@Model" />
</div>

<h2><span class="badge bg-info">PartialAsync()</span></h2>
<div class="row">
    @await Html.PartialAsync("_CardListPartial", Model)
</div>

<h2><span class="badge bg-info">RenderPartialAsync()</span></h2>
<div class="row">
    @{ await Html.RenderPartialAsync("_CardListPartial", Model); }
</div>

<div class="alert bg-danger">同步方式(不建議,容易發生deadlock死結)</div>

<h2><span class="badge bg-info">Partial()</span></h2>
<div class="row">
    @Html.Partial("_CardListPartial", Model)
</div>

<h2><span class="badge bg-info">RenderPartial()</span></h2>
<div class="row">
    @{ Html.RenderPartial("_CardListPartial", Model); }
</div>



@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />

    <style>
        div.alert {
            background-color: #d9edfd;
            font-size: larger;
            font-weight: 900;
            border: 2px dashed black;
        }
    </style>
}
