@model IEnumerable<Card>

@{
    ViewData["Title"] = "CardList";
}

<div class="h-100 p-3 bg-info rounded-3">
    <h2>在父檢視中呼叫Partial View顯示人物牌卡</h2>
</div>

<h1><span class="badge bg-danger">非同步方式(建議)</span></h1>
<div class="row">

    @*建議的非同步方式*@
    @foreach (var man in Model)
    {
        <partial name="_CardPartial" model="man" />
        @await Html.PartialAsync("_CardPartial", man)
        //使用 RenderPartialAsync 轉譯部分檢視。 此方法不會傳回 IHtmlContent。
        //而是將轉譯輸出直接串流給回應。 
        //因為該方法不會傳回結果，所以您必須在 Razor 程式碼區塊內呼叫它
        await Html.RenderPartialAsync("_CardPartial", man);
    }
</div>

<h1><span class="badge bg-danger">同步方式(不建議,容易發生deadlock死結)</span></h1>

<div class="row">
    @*不建議的同步方式, 因為會發生deadlock死結*@
    @foreach (var man in Model)
    {
        @Html.Partial("_CardPartial", man)
        Html.RenderPartial("_CardPartial", man);
    }
</div>

@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}
