@model IEnumerable<Card>

@{
    ViewData["Title"] = "PvCallVc";
}

<div class="h-100 p-3 bg-info rounded-3">
    <h2>呼叫使用View Component</h2>
</div>

<h1><span class="badge bg-danger">方法1 - Component.InvokeAsync方法</span></h1>

<div class="row">
    @*方法1*@
    @await Component.InvokeAsync("CardList", Model)
</div>

<h1><span class="badge bg-primary">呼叫Partial View, 然後Partial View中再呼叫View Components</span></h1>
<div class="row">
    <partial name="_VcPartial" model="@Model" />
</div>

<h1><span class="badge bg-danger">方法2 - Tag Helper</span></h1>
<div class="row">
    @*方法2 - Tag Helper*@
    <vc:card-list data="@Model.ToList()">
    </vc:card-list>
</div>

@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}
