
@model IEnumerable<Student>

@{
    ViewData["Title"] = "ScoreViewComponents";

    var ScoresData = (List<Student>)Model;
}

<div class="h-100 p-3 bg-success rounded-3">
    <h1>ScoreViewComponents</h1>
    <h2>學生期中考成績</h2>
    <P>此為期中考試國文、英文、數學之成績列表。以下要用Razor語法來執行判斷:</P>
    <ol>
        <li>如果單科成績低於60分,表示不及格,以紅色顯示</li>
        <li>如果單科成績高於95分,表示優秀,以藍色顯示</li>
        <li>如果總成績第一名者,以黃色顯示</li>
    </ol>
</div>

@*方法1*@
@await Component.InvokeAsync("PriorityList", Model)

@*方法2 - Tag Helper*@
<vc:priority-list students="@ScoresData">
</vc:priority-list>


@section topCSS{
    <link href="~/css/scorestyle.css" rel="stylesheet" />
}
