*{
    margin: 0;
    padding: 0;    
}
.container{
    width: 1200px; 
}
.container-txt{
    border-bottom: 2px solid rgba(8, 153, 8, 0.873);
    border-width: 5px;
     width: 160px;/*綠線 */
    margin: auto;
    padding-top: 100px;
    margin-bottom: 70px;
}
.container-txt>h2{
    font-weight: bolder;
    font-size: 25px;
}
 .detail{    
    border: 1px solid rgb(209,213,219);
}
input{
    width: 100%;
}

.name{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}

.name-title{     
   /* padding: 0 0px 0 0;  TODO:flex ; */
} 
.name-txt{
    /* width: 75%; */
} 
/* .name-txt>p{
    font-size: 10px;
    padding-top: 5px;
}
.email-txt>p{
    font-size: 10px;
} */

.email{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
/* .email-txt>p{
    font-size: 10px;
    padding-top: 5px;
} */
/*.email-title{
    padding: 0 100px 0 0;
    display: flex; 
   
}*/

.starttime{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.endtime{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.product{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.category
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.productname{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.productsummary{
    padding: 20px;
    display: flex;
    justify-content: space-between;
 
}
.mainpic{
    padding: 20px;
    display: flex;
    justify-content: space-between;
 
}
.mainpic-txt>input{
    border: 1px solid #e0e0e0;
    padding-left: 5px;
}
#productexplain_title{
    height: 20em;
}
.productexplain{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.givebackone{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.givebacktwo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
} 
.relatedpages{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.videopages{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
.cooperate{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209,213,219);
}
h2{
    font-size: 18px;
    font-weight: 550;
}
p{
    font-size: 10px;
    padding-top: 5px;
}
#product_title{
    width: 200px;    
}
.product-txt >span{
    padding-left: 10px;
}
#category-title{
    width: 16rem;
    }
#article_title{
    height: 20em;
}
.decide-btn{
    padding-top: 5px;
}
.decide-btn>input{
    color: rgb(34 159 42);
    font-weight: 700;
    padding-bottom: 0.5rem;
    padding-top: 5px;
    border-color: rgb(34 159 42);
    border-width: 2px;
    border-radius: 0.25rem;
    width: 120px;
}
