<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                神力女超人
            </div>
            <img class="card-img" src="~/images/wonderwoman.jpg" alt="" />
            <div class="card-body">
                <p class="card-text">
                    《神力女超人》是由美國漫畫大廠DC推出的年度大作，由
                    蓋兒加朵飾演亞馬遜族的公主戴安娜，自幼生長在與世隔絕的天堂島，
                    當她得知世界正經歷一場大戰，她決定挺身而出為正義而戰。
                </p>
            </div>
            <div class="card-footer text-muted">
                蓋兒·加朵主演
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success">
                冰與火之歌
            </div>
            <img class="card-img" src="~/images/Game.jpg" alt="" />
            <div class="card-body">
                <p class="card-text">
                    該劇以美國作家喬治·R·R·馬丁的奇幻巨作《冰與火之歌》系列為基礎改編創作，
                    《冰與火之歌》不同於古典奇幻作品中常有的善惡分明、充滿魔法、並有許多
                    非人種族參與故事的情節。
                </p>
            </div>
            <div class="card-footer text-muted">
                艾米莉亞·克拉克主演
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-danger">
                雷神索爾
            </div>
            <img class="card-img" src="~/images/thor.jpg" alt="" />
            <div class="card-body">
                <p class="card-text">
                    在大戰結束之後，帶著洛基回到自己的世界，並開始進行宇宙秩序的重建。
                    不料，被詛咒的梅爾吉斯為了報仇，引領一神秘古老的種族「黑暗精靈」來到
                    人類世界，打算征服全宇宙。
                </p>
            </div>
            <div class="card-footer text-muted">
                克里斯·漢斯沃主演
            </div>
        </div>
    </div>
</div>