
@{
    ViewData["Title"] = "JsPage";
}

<h1>JsPage</h1>



<button onclick="showMessage();">Click me</button>
<script type="text/javascript" src="~/Results/JsFunction"></script>
<script type="text/javascript" src="~/Results/AlertMessage"></script>



