
@{
    ViewData["Title"] = "RazorTemplated";

}

<div class="h-100 p-3 bg-info rounded-3">
    <h1>Razor Template</h1>
</div>

@{
    List<Card> Cards = new List<Card>
    {
            new Card { Name = "Elon Musk", Brief="特斯拉創辦人 伊隆·馬斯克", Photo="ElonMusk.jpg" },
            new Card { Name = "Mark Zuckerberg", Brief="Facebook創辦人 馬克·祖伯克", Photo="MarkZuckerberg.jpg"},
            new Card { Name = "Steve Jobs", Brief="蘋果創辦人 史提夫·賈伯斯", Photo="SteveJobs.jpg" },
            new Card { Name = "Vader", Brief="帝國元帥  維達", Photo="Vader.jpg" },
            new Card { Name = "Darth Mual", Brief="星際大戰 達斯摩", Photo="DarthMual.jpg"},
            new Card { Name = "White Twilek", Brief="星際大戰 女絕地武士Twilek", Photo="WhiteTwilek.jpg" },
            new Card { Name = "Obiwan", Brief="星際大戰 歐比旺Obiwan", Photo="Obiwan.jpg" },
            new Card { Name = "Merkel", Brief="德國總理 梅克爾", Photo="Merkel.jpg" }
    };


    Func<dynamic, object> cardTempate = @<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="headshot">
                <img class="card-img-top" src="~/images/@item.Photo" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Brief</p>
            </div>
        </div>
    </div>;
}


<div class="row">
    @foreach (var card in Cards)
    {
        @cardTempate(card)
    }
</div>


@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}
